{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% block header %}
    {{ parent() }}
    {% endblock %}

    {% block inner %}
        <div class="background"></div>
        <div id="inner" class="container-fluid d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 d-flex flex-column">
                    <h1 class="text-center">Bienvenue sur notre site !</h1>
                    <h3 class="text-center">Souhaitez-vous découvrir nos articles ?</h3>
                    <a href="{{url('twig_articles')}}" class="btn btn-primary w-25 mx-auto my-3">Cliquez ici !</a>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    {% endblock %}

    {% block footer %}
    {{ parent() }}
    {% endblock %}
{% endblock %}